@page "/desktop"
@rendermode @(new InteractiveServerRenderMode(prerender: false))

<h3>Desktop Client</h3>
<InputNumber @bind-Value="Scale" ></InputNumber>
<div>
    <div>
        <span>Render Service</span>
        @if (RenderService is null)
        {
            <button @onclick="CreateRenderContext">Create Render Context</button>
        }
        <button @onclick="StartRender" disabled="@(RenderService is null)">Start Render</button>
        <button @onclick="StopRender" disabled="@(RenderService is null)">Stop Render</button>
    </div>
    <canvas id="render-root" @ref="RenderRootElement" width="800" height="600" />
</div>
<p>
    id = @Client?.Uri
</p>
<p>
    peer id = @PeerClient?.Uri
</p>

<p>Frame count @FrameCount</p>
<button @onclick="UpdateFrameCount">Update Frame Count</button>

@if (!Connected)
{
    <p>
        <h4>Peer Ids</h4>
        <button @onclick=RefreshPeerIds>refresh</button>

        <ul>
            @foreach (var pid in PeerUris)
            {
                <li>@pid</li>
                <button @onclick=@(() => Connect(pid))>connect</button>
            }
        </ul>
    </p>
}
else
{
    <button @onclick="SendVideo">Send Video</button>
}
<video id="selfVideo" @ref="SelfVideoElement" autoplay playsinline></video>
<video id="peerVideo" @ref="PeerVideoElement" autoplay playsinline></video>
